//color
$white: #fff;
$black: #000;
$base_color_1: #e45800;
$base_color_2: #008999;
$heading_color: #808080;
$text_color_1: #3e3e3e;
$header_bg: #110e0e;
$section_bg_1: #f2f4f5;

// $menu_color: #fff;
// $text_color_2: #4b4b4b;
// $border_color: #d6d9dc;
// $icon_color: #9198a4;